@* @page "/createcustomer"
@layout Test
@    using HVACTopGun.UI.Models;
    using DataAccess.Models.Interfaces
@inject ICustomerDataService customerData

<div class="md:container md:mx-auto">

    <div class="gap-8 columns-2">
    <div class="m-4 p-4">
        <h2 class="text-base text-3xl font-semibold leading-7 text-gray-900">Create Customer</h2>
       
    </div>
    <div>
    <EditForm Model="@customer" OnValidSubmit="HandleValidSubmit" class="max-w-md">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">First Name</label>
        <div class="relative m-2">
            <InputText @bind-Value="customer.FirstName" class="peer block w-full border-0 bg-gray-50 py-1.5 text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" placeholder="First Name" />
            <div class="absolute inset-x-0 bottom-0 border-t border-gray-300 peer-focus:border-t-2 peer-focus:border-indigo-600" aria-hidden="true"></div>
        </div>

        <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Last Name</label>
        <div class="relative mb-5">
            <InputText @bind-Value="customer.LastName" class="peer block w-full border-0 bg-gray-50 py-1.5 text-gray-900 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Last Name" />
            <div class="absolute inset-x-0 bottom-0 border-t border-gray-300 peer-focus:border-t-2 peer-focus:border-indigo-600" aria-hidden="true"></div>
        </div>


        <button class="mt-3 mx-auto mb-4 p-3 justify-center bg-gradient-to-r from-emerald-700 to-emerald-500 hover:bg-emerald-200 text-white hover:text-emerald-200 hover:underline font-semibold hover:shadow-emerald-500/50 shadow-xl" type="submit">Create Person </button>

    </EditForm>
   </div>
</div>
</div>


@code {
    



}
 *@