@page "/Data/Customers"
@using DataAccess
@using DataAccess.Data;
@using DataAccess.Models
@using HVACTopGun.UI.Models
@layout Test

@inject ICustomerDataService _dataAccess

<div class="content bg-white">
    
        <div class="mt-5 mx-auto"></div>

        <h4 class="mb-4 text-2xl">Add New Customer</h4>
        
        <EditForm Model="@newCustomer" OnValidSubmit="@AddCustomer">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="firstName" class="block mb-2 text-sm font-medium text-green-700 dark:text-green-500">First Name</label>
                <InputText id="firstName" class="border form-control block mb-2 text-sm font-medium text-gray-900 dark:text-white" @bind-Value="newCustomer.FirstName" />
                <label for="lastName" class="block mb-2 text-sm font-medium text-green-700 dark:text-green-500">Last Name</label>
                <InputText id="lastName" class="border form-control block mb-2 text-sm font-medium text-gray-900 dark:text-white" @bind-Value="newCustomer.LastName" />
            </div>

            <button type="submit" class="rounded-2xl mt-3 mx-auto mb-4 p-3 justify-center bg-gradient-to-r from-emerald-700 to-emerald-500 hover:bg-emerald-200 text-white hover:text-emerald-200 hover:underline font-semibold hover:shadow-emerald-500/50 shadow-xl ">Add Customer</button>
            
         
              
        </EditForm>
    <h3 class="text-center mx-auto text-white">Customers</h3>
        <div class="md:top-20 md:mx-10 md:px-20">
            <SfGrid DataSource="@customers" />

        </div>
    
</div>



@code {
    private IEnumerable<CustomerModel> customers;
    private UICustomerModel newCustomer = new UICustomerModel();

    protected override async Task OnInitializedAsync()
    {
        customers = await _dataAccess.GetAllCustomers();
    }

    private async Task AddCustomer()
    {
        CustomerModel c = new CustomerModel
        {
            FirstName = newCustomer.FirstName,
            LastName = newCustomer.LastName
        };
        await _dataAccess.CreateCustomer(c);

        customers?.Append(c);
 
        newCustomer = new UICustomerModel();
        
    }

    
}
