
<AuthorizeView>
    <Authorized>
        <a href="logout" class="text-white">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/" class="text-white">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}

