@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations

<PageTitle>HVAC Topgun</PageTitle>
        <div>
		<NavMenu />
        </div>

<div class="">
    <div class="">
        @Body
    </div>
</div>


@code
{

}
