@using Microsoft.AspNetCore.Components.Web
@inject ILocalStorageService localStorage

<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">HVAC TopGun</span>
                <img class="h-8 w-auto" src="/images/logo-dark.png" alt="">
            </a>
        </div>
        <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#" class="text-sm font-semibold leading-6 text-white">Product</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Features</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Marketplace</a>
            <a href="#" class="text-sm font-semibold leading-6 text-white">Company</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="text-sm font-semibold leading-6 text-white">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden" role="dialog" aria-modal="true">
        <!-- Background backdrop, show/hide based on slide-over state. -->
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
            <div class="flex items-center justify-between">
                <a href="#" class="-m-1.5 p-1.5">
                    <span class="sr-only">Your Company</span>
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/25">
                    <div class="space-y-2 py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Product</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Features</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Marketplace</a>
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800">Company</a>
                    </div>
                    <div class="py-6">
                        <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-800">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

@* 
<nav class="bg-black/80 fixed w-full z-20 top-0 left-0 border-b border-sky-500 dark:bg-black/80">
    <!-- flex container for nav -->
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <!-- Logo -->
            <a href="#" class="flex items-center">
                <img @ref="logo" src="/images/logo-dark.png" class="h-11 mr-3" alt="Logo" id="logo" />
            </a>
       
        <!-- Menu Items -->
        
        <div class="space-x-4  hidden md:flex md:w-auto md:order-1" id="navbar-sticky">
            
                    <a href="#" class=" px-4 text-white md:text-sky-500 md:p-0 md:dark:text-white" aria-current="page">Home</a>
                
                    <a href="#" class=" text-white rounded hover:text-sky-500 md:hover:bg-transparent md:hover:text-sky-500 md:p-0 md:dark:hover:text-sky-500 dark:text-white dark:hover:bg-sky-500 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
               
                    <a href="#" class=" text-white rounded hover:text-sky-500 md:hover:bg-transparent md:hover:text-sky-500 md:p-0 md:dark:hover:text-sky-500 dark:text-white dark:hover:bg-sky-500 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Services</a>
               
                    <a href="#" class=" text-white rounded hover:text-sky-500 md:hover:bg-transparent md:hover:text-sky-500 md:p-0 md:dark:hover:text-sky-500 dark:text-white dark:hover:bg-sky-500 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
               
            <div class="justify-end px-3">
                <DarkModeToggle></DarkModeToggle>
            </div>
        </div>
        
        <!-- Hamburger Button -->
        <button @ref="btn" @onclick="NavToggle" id="btn"
                class="z-30 md:hidden focus:outline-none hamburger @(isMenuOpen ? "open" : "")">
            <span class="text-white hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
    </div>
    <!-- Mobile Menu -->
    <div @ref="menu" id="menu" class="fixed inset-0 z-20 @(isMenuOpen ? "flex" : "hidden") 
    flex-col items-center self-end w-full h-full m-h-screen px-6 py-1 pt-24 pb-4 tracking-widest text-white uppercase divide-y divide-gray-500 bg-black">
        <div class="w-full py-3 text-center">
            
                <img @ref="logo" src="/images/logo-dark.png" class="mx-auto block" alt="Logo" id="logo" />
            
        </div>
        <div class="w-full py-3 text-center">
            <a href="#features" class="block hover:text-sky-500">Features</a>
        </div>
        <div class="w-full py-3 text-center">
            <a href="#download" class="block hover:text-sky-500">Download</a>
        </div>
        <div class="w-full py-3 text-center">
            <a href="#faq" class="block hover:text-sky-500">FAQ</a>
        </div>
        <div class="w-full py-3 text-center">
            <a href="#" class="block hover:text-sky-500 hover:shadow-xl" @onclick="LoginClicked">Login</a>
        </div>
    </div>
</nav>
 *@
@code {
    private ElementReference btn;
    private ElementReference menu;
    private ElementReference logo;
    private bool isMenuOpen = false;
    private bool _darkMode = true;
    private string menuClass => isMenuOpen ? "flex" : "hidden";
    private string Theme { get; set; } = "light";

    private bool isDarkMode = false;

    private async Task ToggleDarkMode(bool darkMode)
    {
        isDarkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void NavToggle()
    {
        isMenuOpen = !isMenuOpen;
        
    }


    private string GetLogoSource()
    {
        string logoFileName = _darkMode ? "logo-dark.png" : "logo-light.png";
        string logoSource = $"images/{logoFileName}";
        return logoSource;
    }


    private void LoginClicked()
    {
        // Handle login button click event
    }

    private async Task UpdateDarkMode(bool darkMode)
    {
        _darkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    
}