
<AuthorizeView>
    <Authorized>
        <button class="flex block items-center rounded-lg  bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">

            <a href="logout" class="text-sm font-semibold leading-5 tracking-wide text-white ">Log out</a>
        </button>
       
    </Authorized>
    <NotAuthorized>
        <button class="flex block items-center rounded-lg  bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">

            <a href="login?redirectUri=/" class="text-sm font-semibold leading-5 tracking-wide text-white ">Log in</a>
        </button>
        
    </NotAuthorized>
</AuthorizeView>

@code {

}

