
<AuthorizeView>
    <Authorized>
        <a href="logout" class="text-sm font-semibold leading-6 text-white hover:text-sky-400">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/" class="text-sm font-semibold leading-6 text-white hover:text-sky-400">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}

