@inherits LayoutComponentBase
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Navigations
@using Microsoft.AspNetCore.Components.Web
@inject ILocalStorageService localStorage
@page "/adminlayout" 

<PageTitle>Dashboard - HVAC Topgun</PageTitle>
        <div>
		<AdminNav />
        </div>
<div class="">
    <div class="mt-20">
        @Body
    </div>
</div>




@code {
      

}

