@using Microsoft.AspNetCore.Components.Web
@inject ILocalStorageService localStorage
@inject IJSRuntime JSRuntime



<header class="top-0 fixed w-full z-20 left-0 border-b border-sky-500 bg-black transition-all duration-300">
    <!-- Banner Section -->
    <div @ref="banner" id="banner" class="@bannerClass bg-blue-700">
        <div class="max-w-screen-xl mx-auto flex items-center justify-between px-6 sm:pr-3 lg:pl-7">
            <div class="flex-1">
                <p class="text-sm leading-6 text-white">
                    
                        <strong class="font-semibold"></strong>
                    
                </p>
            </div>
            <div class="">
                <!-- Gutter and container for button -->
                <AccessControl/>
            </div>
        </div>
    </div>
   <!-- End Banner Section-->
    <nav id="main-nav" class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3" aria-label="navigation">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">HVAC TopGun</span>
                <img class="h-9 w-auto" src="/images/topgun_logosmallwhite2.jpg" alt="">
            </a>
        </div>

        <div class="hidden lg:flex lg:gap-x-12">
            <a href="#features" class="text-sm font-semibold leading-6 text-white hover:text-sky-400">Features</a>
            <a href="/HVACBusinessAcademy" class="text-sm font-semibold leading-6 text-white hover:text-sky-400">Business Academy</a>
            <a href="/Pricing" class="text-sm font-semibold leading-6 text-white hover:text-sky-400">Pricing</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            
                <div class="flex items-center p-2 hover:underline font-medium text-gray-200 transition duration-75">
                    
                    <a href="tel:+13213073178" class="text-sm ml-2 mb-1">(321) 307-3178</a>
                </div>
         
           

        </div>
        <!-- Hamburger Button -->
        <button @ref="btn" @onclick="NavToggle" id="btn"
                class="z-30 md:hidden focus:outline-none hamburger @(isMenuOpen ? "open" : "")">
            <span class="text-white hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
        <!-- Mobile Menu -->
        <div @ref="menu" id="menu" class="fixed inset-0 z-20 @(isMenuOpen ? "flex" : "hidden")
         flex-col items-center self-end w-full h-full m-h-screen px-6 py-1 pt-24 pb-4 tracking-widest text-white uppercase
         divide-y divide-gray-500 bg-black">
            <div class="w-full py-3 text-center">

                <img @ref="logo" src="/images/logo-dark.png" class="mx-auto block" alt="Logo" id="logo" />

            </div>
            <div class="w-full py-3 text-center">
                <NavLink @onclick="NavToggle"  href="#features" class="block hover:text-sky-500">Features</NavLink>
            </div>
            <div class="w-full py-3 text-center">
                <NavLink @onclick="NavToggle" href="/HVACBusinessAcademy" class="block hover:text-sky-500">HVAC Business Academy</NavLink>
            </div>
            <div class="w-full py-3 text-center">
                <NavLink @onclick="NavToggle" class=" block hover:text-sky-500" href="/Pricing">Pricing</NavLink>
            </div>
            <div class="w-full py-3 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                </svg>

                <NavLink @onclick="NavToggle" class=" block hover:text-sky-500" href="tel:13213073178">(321) 307-3178</NavLink>
            </div>
            <div class="w-full py-3 text-center block hover:text-sky-500 hover:shadow-xl">
                
                <AccessControl />
            </div>
        </div>
    </nav>


</header>


@code {
    private ElementReference btn;
    private ElementReference menu;
    private ElementReference logo;
    private ElementReference banner;
    private bool isMenuOpen = false;
    private bool _darkMode = true;
    private string menuClass => isMenuOpen ? "flex" : "hidden";
    private string Theme { get; set; } = "light";
    private bool hideBanner = false;
    private int previousScrollPosition = 0;
    private bool isDarkMode = false;
    private string bannerClass = "block";
    private DotNetObjectReference<LandingNav> objRef;

    
    private void ToggleBanner()
    {
        bannerClass = bannerClass == "block" ? "hidden" : "block";
        StateHasChanged(); // Re-render the component
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("scrollFunctions.registerScroll", objRef);
        }
    }


    private async Task ToggleDarkMode(bool darkMode)
    {
        isDarkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void NavToggle()
    {
        isMenuOpen = !isMenuOpen;
    }

    private string GetLogoSource()
    {
        string logoFileName = _darkMode ? "logo-dark.png" : "logo-light.png";
        string logoSource = $"images/{logoFileName}";
        return logoSource;
    }


    

    private async Task UpdateDarkMode(bool darkMode)
    {
        _darkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }
    
    public void Dispose()
    {
        objRef.Dispose(); // Clean up the DotNetObjectReference
    }


}

