

<nav class="border-b border-sky-500 bg-black lg:border-none">
    <div class="max-w-9xl px-2 sm:px-4 lg:px-8">
        <div class=" relative flex h-16 items-center justify-between justify-center lg:border-b lg:border-sky-500">
            <div class="flex items-center lg:px-1">
                <div class="flex items-center">

                    <button @ref="btn" @onclick="NavToggle" id="btn"
                            class="z-30 md:hidden focus:outline-none hamburger @(isMenuOpen ? "open" : "")">
                        <span class="text-white hamburger-top"></span>
                        <span class="hamburger-middle"></span>
                        <span class="hamburger-bottom"></span>

                    </button>

                    <div class="flex-shrink-0 @(isMenuOpen ? "pl-6" : "")">
                        <img class="block h-10 w-30 pl-2" src="images/logo-dark.png" alt="HVAC TopGun Logo">
                    </div>
                </div>
            </div>
         
            <div class="hidden lg:ml-4 lg:block">
                <div class="flex items-center">
                    <div class="lg:flex hidden content-center gap-8 ">
                        <div class="px-2 mx-1">
                            <button class="hover:bg-zinc-900 hover:underline">
                            <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                                     href="#features">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                                </svg>
                                <span class="ml-3">Features</span>
                            </NavLink>
                        </button>
                      </div>
                        <div class="px-2 mx-1">
                            <button class="hover:bg-zinc-900 hover:underline">
                            <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                                     href="https://suggestionapphvactopgun.azurewebsites.net/">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                </svg>
                                <span class="ml-3">Ideas</span>
                            </NavLink>
                        </button>
                        </div>
                        <div class="px-2 mx-1">
                            <button class="hover:bg-zinc-900 hover:underline">
                            <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                                     href="#pricing">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                                </svg>

                                <span class="ml-3">Pricing</span>
                            </NavLink>
                        </button>
                    </div>
                    

                    <AccessControl></AccessControl>

                </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
   
    <div @ref="menu" class="pb-3 pt-4 lg:hidden @(isMenuOpen ? "flex" : "hidden")" id="menu">
 
    </div>
    <div @ref="menu1" class=" pb-3 lg:hidden @(isMenuOpen ? "flex" : "hidden") column-1" id="menu1">

        <hr />
        <div class="items-center px-5 space-y-1 px-2 pb-3 pt-2 ">

            <ul role="list" class="mx-2 space-y-1">
                <li class="hover:bg-zinc-900 hover:underline">
                       <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                             href="#features">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
                        </svg>
                                    <span class="ml-3">Features</span>
                        </NavLink>
                    </li>
                <li class="hover:bg-zinc-900 hover:underline">
                                <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                             href="https://suggestionapphvactopgun.azurewebsites.net/">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                                    </svg>


                                    <span class="ml-3">Ideas</span>
                                </NavLink>
                            </li>
                <li class="hover:bg-zinc-900 hover:underline">
                                <NavLink @onclick="NavToggle" class="flex items-center p-2 text-base font-medium text-gray-200 transition duration-75 dark:hover:bg-gray-900"
                                         href="#pricing">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z" />
                        </svg>


                                    <span class="ml-3">Pricing</span>
                                </NavLink>
                            </li>
                <li class="">
                    <AccessControl></AccessControl>
                </li>



            </ul>
            
           @*  <button class="flex block items-center rounded-lg  bg-transparent text-white  py-1 px-2 border border-transparent hover:border-sky-400 rounded">

                <a href="#" class="text-sm font-semibold leading-6 text-white ">Company</a>
            </button> *@
        </div>

    </div>
</nav>

@code {
    private string menuClass2 => isMenuOpen ? "flex" : "hidden";
    private string dropdownClass => isDropdownOpen ? "block" : "hidden";

    private bool isDropdownOpen = false;
    private bool isMobileMenuOpen = false;
    private ElementReference btn;
    private ElementReference menu;
    private ElementReference menu1;
    private ElementReference logo;
    private bool isMenuOpen = false;
    private bool _darkMode = true;
    private string menuClass => isMenuOpen ? "flex" : "hidden";
    private string Theme { get; set; } = "light";

    private bool isDarkMode = false;

    private async Task ToggleDarkMode(bool darkMode)
    {
        isDarkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void NavToggle()
    {
        isMenuOpen = !isMenuOpen;

    }


    private string GetLogoSource()
    {
        string logoFileName = _darkMode ? "logo-dark.png" : "logo-light.png";
        string logoSource = $"images/{logoFileName}";
        return logoSource;
    }

    private void toggleMobileMenu()
    {
        isMobileMenuOpen = !isMobileMenuOpen;
    }


    private void LoginClicked()
    {
        // Handle login button click event
    }

    private async Task UpdateDarkMode(bool darkMode)
    {
        _darkMode = darkMode;
        await InvokeAsync(StateHasChanged);
    }

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private void CloseDropdown()
    {
        isDropdownOpen = false;
    }

    private void HandleMenuItemClick()
    {
        // Handle the menu item click event here
    }

    private void HandleMobileMenuItemClick()
    {
        // Handle the mobile menu item click event here
    }





}
