@inherits LayoutComponentBase
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations

<PageTitle>HVAC Topgun</PageTitle>
     
		<LandingNav />
  

<div class="">
    <div class="">
        @Body
    </div>
</div>


@code
{

}
