@page "/dashboard"
@layout Test 
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Layouts

<div class="h-screen z-0">
    <SfDashboardLayout Columns="5">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel>
                <ContentTemplate><div>0</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel >
                <ContentTemplate><div>1</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel >
                <ContentTemplate><div>2</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel>
                <ContentTemplate><div>3</div></ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=3>
                <ContentTemplate><div>4</div></ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code
 { 
 }
