@page "/dashboard"
@layout Test 
@inject IJSRuntime JSRuntime
@inject ITenantDataService TenantDataService
@inject IUserDataService UserDataService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AuthClaimsModel authClaimsModel

@attribute [Authorize]
<div>
    <p>Hello, @FirstName!</p>
    <p>Company: @CompanyName</p>

</div>

 
<div class="">
    <SfDashboardLayout Columns="4">
        <DashboardLayoutPanels>

            <DashboardLayoutPanel Column="0" Row="0">
                <HeaderTemplate>Your Revenue Goal</HeaderTemplate>
                <ContentTemplate>
                    <GaugeHalf/>
                    </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="0" Row="1" SizeX="3">
                <HeaderTemplate>Panel 2</HeaderTemplate>
                <ContentTemplate>
                    <BarChart/>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="1" Row="0">
                <HeaderTemplate>New Leads</HeaderTemplate>
                <ContentTemplate>
                   <DonutChart/>

                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="3" Row="0">
                <HeaderTemplate>New Appts</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>

             <DashboardLayoutPanel Column="4" Row="0">
                <HeaderTemplate>Website Chat</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="3" Row="3">
                <HeaderTemplate>Panel 6</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>
            

        </DashboardLayoutPanels>
    </SfDashboardLayout>

    <style>
        .e-panel-header {
            background-color: white;
            text-align: left;
        }

        .e-panel-content {
            text-align: center;
            margin-top: -3px;
        }
    </style>
</div>

@code
{

    private ClaimsPrincipal User { get; set; }
    private string FirstName { get; set; }
    private string CompanyName { get; set; }
    private int? tenantId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var objectId = authState.User.FindFirstValue("http://schemas.microsoft.com/identity/claims/objectidentifier");
        var tenantId = await TenantDataService.GetTenantIdByObjectId(objectId);
        User = authState.User;
        
        FirstName = User.FindFirstValue("extension_FirstName");
        CompanyName = User.FindFirstValue("extension_CompanyName");
        
    }
}