@page "/dashboard"
@layout Test 
@using HVACTopGun.UI.Helpers;
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using HVACTopGun.UI.Pages.SyncFusion
@inject IJSRuntime JSRuntime
@inject UserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize]

<div class="">
    <SfDashboardLayout Columns="4">
        <DashboardLayoutPanels>

            <DashboardLayoutPanel Column="0" Row="0">
                <HeaderTemplate>Your Revenue Goal</HeaderTemplate>
                <ContentTemplate>
                    <GaugeHalf />
                    </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="0" Row="1" SizeX="3">
                <HeaderTemplate>Panel 2</HeaderTemplate>
                <ContentTemplate>
                    <BarChart></BarChart>
                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="1" Row="0">
                <HeaderTemplate>New Leads</HeaderTemplate>
                <ContentTemplate>
                   <DonutChart></DonutChart>

                </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="3" Row="0">
                <HeaderTemplate>New Appts</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>

             <DashboardLayoutPanel Column="4" Row="0">
                <HeaderTemplate>Website Chat</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>

            <DashboardLayoutPanel Column="3" Row="3">
                <HeaderTemplate>Panel 6</HeaderTemplate>
                <ContentTemplate>Content of Panel </ContentTemplate>
            </DashboardLayoutPanel>
            

        </DashboardLayoutPanels>
    </SfDashboardLayout>

    <style>
        .e-panel-header {
            background-color: white;
            text-align: left;
        }

        .e-panel-content {
            text-align: center;
            margin-top: -3px;
        }
    </style>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            // The user is logged in.
            // This is where we will call our service to create the user and tenant.
            await UserService.CreateUserAndTenant();
        }
    }
}
