@page "/admin/categories"
@using HVACTopGun.UI.Data.Entities;

@using HVACTopGun.UI.Features.Blog.Services;
@inject CategoryService CategoryService

<div class="mt-40 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="mt-20 grid grid-cols-2 gap-4">
        <h1 class="text-4xl my-2">Manage Categories</h1>
        <button class="my-2 bg-sky-500 hover:bg-sky-700 text-blue font-bold text-white py-2 px-4 rounded">+ Add New Category</button>
    </div>

    <hr />
    <table class="min-w-full text-left text-sm font-light">
        <thead class="bg-black border-b font-medium dark:border-neutral-500">
            <tr>
                <th scope="col" class="text-white px-6 py-4">#</th>
                <th scope="col" class="text-white px-6 py-4">Id</th>
                <th scope="col" class="text-white px-6 py-4">Name</th>
                <th scope="col" class="text-white px-6 py-4">Slug</th>
            </tr>
        </thead>
        <tbody>
            @if (_loading)
            {
                <tr class="border-b dark:border-neutral-500">
                    <td colspan="4">
                        Loading categories....
                    </td>
                </tr>
            }
            else if (!_loading && _categories is null || _categories.Any())
            {
                <tr>
                    <td colspan="4">
                        No Categories Found
                    </td>
                </tr>
            }
            else
            {
                int sno = 1;
                foreach (var category in _categories)
                {
                    <tr class="border-b dark:border-neutral-500">
                        <td class="whitespace-nowrap px-6 py-4 font-medium">@sno</td>
                        <td class="whitespace-nowrap px-6 py-4">@category.Id</td>
                        <td class="whitespace-nowrap px-6 py-4">@category.Name</td>
                        <td class="whitespace-nowrap px-6 py-4">@category.Slug</td>
                    </tr>
                    sno++;
                }
            }
        </tbody>
    </table>

</div>
<dialog open>
    <SaveCategoryForm />
</dialog>

@code {
    private bool _loading = false;
    private IEnumerable<Category>? _categories = null;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        try
        {
            _categories = await CategoryService.GetCategoriesAsync();
        }
        finally
        {
            _loading = false;
        }
        
    }

}
