@page "/customers"

<h3>Customers</h3>

<ul>
    @foreach (var c in customers)
    {
        <li>@c.FirstName @c.LastName</li>
    }


</ul>

@code {
    List<CustomerModel> customers;

    protected override Task OnInitializedAsync()
    {
        throw new NotImplementedException();
        //Get list of people
    }

}
