
@page "/pricing"


<div id="pricing" class="isolate overflow-hidden bg-black">
    <div class="mx-auto max-w-7xl px-6 pb-96 pt-24 text-center sm:pt-32 lg:px-8">
        <div class="mx-auto max-w-4xl">
            <h2 class="text-base font-semibold leading-7 text-sky-400">Pricing</h2>
            <p class="mt-2 text-5xl font-bold tracking-tight text-white sm:text-5xl">The right price, <br class="hidden sm:inline lg:hidden">whoever you are.</p>
        </div>
        <div class="relative mt-6">
            <p class="mx-auto max-w-2xl text-lg leading-8 text-white/60">Choose the tier that best suits your business needs and take your HVAC operations to new heights.</p>
            <svg viewBox="0 0 1208 1024" class="absolute -top-10 left-1/2 -z-10 h-[64rem] -translate-x-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:-top-12 md:-top-20 lg:-top-12 xl:top-0">
                <ellipse cx="604" cy="512" fill="url(#6d1bd035-0dd1-437e-93fa-59d316231eb0)" rx="604" ry="512" />
                <defs>
                    <radialGradient id="6d1bd035-0dd1-437e-93fa-59d316231eb0">
                        
                        <stop offset="1" stop-color="#0284c7" />
                    </radialGradient>
                </defs>
            </svg>
        </div>
    </div>


    <div class="flow-root bg-black pb-24 sm:pb-32">
        <div class="-mt-80">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2">
                    <div class="flex flex-col justify-between rounded-3xl bg-zinc-950 p-8 shadow-xl ring-1 ring-gray-900/10 sm:p-10">
                        <div>
                            <h3 id="tier-hobby" class="text-base font-semibold leading-7 text-sky-600">Pro</h3>
                            <div class="mt-4 flex items-baseline gap-x-2">
                                <span class="text-4xl font-bold tracking-tight text-gray-200">Free</span>
                                
                            </div>
                            <div class="mt-4 flex items-baseline gap-x-2">
                                
                                <span class="text-5xl font-bold tracking-tight text-gray-200">$0</span>
                                <span class="text-base font-semibold leading-7 text-gray-400">/month</span>
                            </div>
                            <p class="mt-6 text-base leading-7 text-gray-300">Unlock the Essential Tools for Streamlined HVAC Business Management.</p>
                            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-gray-300">
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Comprehensive scheduling and appointment management
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Real-time status updates and notifications
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Interactive dashboard with key performance metrics
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Integrated SMS messaging for efficient communication
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Customizable reporting and analytics
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    48-hour support response time
                                </li>
                            </ul>
                        </div>
                        <a href="#" aria-describedby="tier-hobby" class="mt-8 block rounded-md bg-sky-600 px-3.5 py-2 text-center text-lg font-semibold leading-6 text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">Get started today</a>
                    </div>
                    <div class="flex flex-col justify-between rounded-3xl border border-sky-500 bg-zinc-950 p-8 shadow-xl ring-1 ring-gray-600/10 sm:p-10">
                        <div>
                            <h3 id="tier-team" class="text-base font-semibold leading-7 text-sky-600">Premium</h3>
                            <div class="mt-4 flex items-baseline gap-x-2">
                                <span class="text-5xl font-bold tracking-tight text-gray-200">$37</span>
                                <span class="text-base font-semibold leading-7 text-gray-400">/month</span>
                            </div>
                            <p class="mt-6 text-base leading-7 text-gray-300">Experience Advanced Functionality for Optimal HVAC Business Efficiency.</p>
                            <ul role="list" class="mt-10 space-y-4 text-sm leading-6 text-gray-300">
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    All features from Tier 1, plus:
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Advanced inventory management and tracking
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Customer relationship management tools
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    1-hour, dedicated support response time
                                </li>
                                <li class="flex gap-x-3">
                                    <svg class="h-6 w-5 flex-none text-sky-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                    </svg>
                                    Mobile application for on-the-go access
                                </li>
                            </ul>
                        </div>
                        <a href="#" aria-describedby="tier-team" class="mt-8 block rounded-md bg-sky-600 
                                                    px-3.5 py-2 text-center text-lg font-semibold leading-6 text-white 
                                                    shadow-sm
                                                    hover:bg-sky-500 focus-visible:outline focus-visible:outline-2
                                                    focus-visible:outline-offset-2 
                                                    focus-visible:outline-sky-600">Get started today</a>
                    </div>

                    
                </div>
            </div>
        </div>

       
        
    </div>
</div>